<!-- <div class="bottom-navbar" style="width:100%;margin-top:15px;">
<ul id="menu">
    
    <li class="margin-auto" style="width:10%">
        <a class="nav-link nav-footer margin-auto" href="https://go.microsoft.com/fwlink/?LinkId=521839" target="_blank">Privacy and Cookies</a>
    </li>
    <li class=" margin-auto" style="width:10%">
        <a class="nav-link nav-footer margin-auto" href="https://go.microsoft.com/fwlink/?LinkID=206977" target="_blank">Terms of Use</a>
    </li>
    <li class=" margin-auto" style="width:10%">
        <a class="nav-link nav-footer margin-auto" href="https://www.microsoft.com/trademarks" target="_blank">Trademarks</a>
    </li>
    <li class="margin-auto" style="width:10%">
        <a class="nav-link nav-footer margin-auto" href="https://support.microsoft.com/en-us/contactus" target="_blank">Report Abuse</a>
    </li>
    <li class="nav-footer margin-auto" style="width:10%">
        <div class="padding-0 copyright-logo">
            (c) Microsoft 2019
        </div>
    </li>
  </ul> 
</div> -->

<footer class="footer bottom-navbar" #footer>
        <div class="container">
          <div class="privacy margin-auto">
                <a class="nav-link nav-footer margin-auto" href="https://go.microsoft.com/fwlink/?LinkId=521839" target="_blank">Privacy & Cookies</a>
          </div>
          <div class="nav  margin-auto">
                <a class="nav-link nav-footer margin-auto" href="https://go.microsoft.com/fwlink/?LinkID=206977" target="_blank">Terms of Use</a>
          </div>
          <div class="nav margin-auto">
                <a class="nav-link nav-footer margin-auto" href="https://www.microsoft.com/trademarks" target="_blank">Trademarks</a>
          </div>
          <div class="nav margin-auto">
                <a class="nav-link nav-footer margin-auto" href="https://support.microsoft.com/en-us/contactus" target="_blank">Report Abuse</a>
          </div>
          <div class="margin-auto copyright-logo">
                <div class="padding-0">
                        © Microsoft 2019
                </div>
          </div>
        </div>
</footer>