
<div class="row margin-0 padding-0">
  <div class="col-lg-12 margin-0 padding-0">
  <nav class="navbar navbar-light">
    <div class="col-xs-6">
        <div class="logo-container padding-0">
              <div class="logo">
                  <a href="https://www.microsoft.com/en-us/" target="_blank">
                    <img alt="Microsoft logo" src="../../assets/images/ms_gif_logo.png" height="21px" width="100px"/>
                </a>
                <span class="hidden-responsive">&nbsp; |&nbsp;</span>
                <a href="https://www.microsoft.com/en-us/ai/default.aspx" target="_blank" class="hidden-responsive">
                    <img alt="Microsoft AI" src="../../assets/images/ms_ai_logo.jpg" height="29px" width="100px">
                    
                </a>
              </div>              
          </div>
          
    </div>  
    <div class="col-xs-6">
      <a href="/Main/dashboard/ProjectDashboard"> <div class="cdp-logo">Code Defect <span class="font-bold">AI</span></div> </a>
    </div>  
  </nav>
  
</div>
</div>


