<div class="padding-lr-7">
    <div class="row padding-0 margin-0">
      <div class="col-lg-12 col-sm-12 padding-0">
          <div class="col-md-12 tabs">
              <p class="back-txt" (click)="loadCommitDetails()">  
                <img src="../../assets/images/backArrow.svg" class="backarrow"/>
                <span>Back</span>            
              </p>
          </div>
      </div>
      <div class="col-lg-12 totalFiles" *ngIf='this._fileService.selectedCommit!=null'>
        Total Files: <span style="font-weight: 600;">{{padZero(this._fileService.selectedCommit.length)}}</span>
      </div>
      <div class="col-lg-12 commitDetails" *ngIf='this._fileService.selectedCommit!=null'>
        Commit ID : {{this._fileService.commitId}}  
        <span class="commitTime">
            Commit Date: {{ getDate(this._fileService.selectedCommit[0].timestamp) }}| {{ getTime(this._fileService.selectedCommit[0].timestamp) }} <span style="font-size:12px">{{ getAMPM(this._fileService.selectedCommit[0].timestamp) }}</span>
        </span>
      </div>
      <div class="col-lg-12 innerhighlight">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSortActive="file_name" matSortDirection="asc">

          <!-- Position Column -->
            <ng-container matColumnDef="file_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> FILE NAME </th>
                <td mat-cell *matCellDef="let row" (click)=loadBugRiskPrediction(row)> 
                    <span *ngIf="row.file_name.length>120" matTooltip="...{{row.file_name.slice(row.file_name.length-120,row.file_name.length)}}" [matTooltipClass]="'my-tooltip'" matTooltipPosition="above">
                        ...{{row.file_name.slice(row.file_name.length-60,row.file_name.length)}}
                    </span>  
                  <span *ngIf="row.file_name.length>60 && row.file_name.length<=120" matTooltip="{{row.file_name}}" [matTooltipClass]="'my-tooltip'" matTooltipPosition="above">
                        ...{{row.file_name.slice(row.file_name.length-60,row.file_name.length)}}
                    </span>
                    <span *ngIf="row.file_name.length<=60" matTooltip="{{row.file_name}}" [matTooltipClass]="'my-tooltip'" matTooltipPosition="above">
                        {{row.file_name}}
                    </span>  
                </td>
              </ng-container>
              <ng-container matColumnDef="confidencescore">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> CONFIDENCE SCORE </th>
                  <td mat-cell *matCellDef="let row"> {{padZero(row.confidencescore)}}%</td>
                </ng-container>
                <ng-container matColumnDef="prediction">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header><span style="position:relative;"><img class="information" src="../../assets/images/information.svg" matTooltip="{{_globalService.disclaimerMessage}}" [matTooltipClass]="'info-tooltip'" matTooltipPosition="above"/></span> BUG RISK PREDICTION </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="" style="width:100%;">
                            <div style="float:left;position:relative">
                              <i class="bugIndicatorSquare" *ngIf="row.prediction==1"></i>
                              <i class="cleanIndicatorSquare" *ngIf="row.prediction==0"></i>
                            </div>
                            <div class="predictionText" *ngIf="row.prediction==1">Yes</div>
                            <div class="predictionText" *ngIf="row.prediction==0">No</div>          
                          </div> 
                      </td>
                  </ng-container>
        
          
          <ng-container matColumnDef="fileHistory">
            <th mat-header-cell *matHeaderCellDef>COMMIT DETAILS</th>
            <td mat-cell *matCellDef="let row" class="viewfile" (click)=viewFile(row.file_link)> View </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
      </div>
      <div class="col-lg-12 margin-0 padding-0" >
        
          <mat-paginator #paginator              
          [pageSizeOptions]="[10, 25,100]"
           [showFirstLastButtons]="true">
          </mat-paginator>
        
      </div>    
</div>
</div>